<div class='container'>

<div class='busy' >
<%= image_tag "http://www.20cents-video.com/userdata/animated-gif/library/(16).gif", :style => "position:fixed;top:150px;left:400px;", :size => "150x150" %>
</div>

</div>

<%= image_tag "http://www.foodspotting.com/images/footer-v2.png", :size => "900x200",
:style => "position:fixed;top:375px;" %>

